/**
* 我认为element ui的默认主题颜色太浅，无法长期使用。
* 因此，我修改了默认颜色，您可以根据自己的喜好进行修改。
**/

/* theme color */
$--color-primary: $AC2;

$--color-success: #13ce66;
$--color-warning: #ffc600;
$--color-danger: #f86359;

$--button-font-weight: 400;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import 'element-ui/packages/theme-chalk/src/index';

:export {
  theme: $--color-primary;
}
