
@import "./variableMenu.scss";
@import "./transition.scss";
@import "./sidebar.scss";
@import "./basic.scss";
@import "./tinymce.scss";
@import "./element-variables.scss";
@import "./element-ui/element-ui.scss";


body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: system-ui;
}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}


ul{
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

* {
  scrollbar-color: #bfbfbf #eaeef6;
  /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin;
  /* 滚动条宽度有三种：thin、auto、none */
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba($color: #000000, $alpha: 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000000, $alpha: 0.2);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: #000000, $alpha: 0.3);
}

*::-webkit-scrollbar-corner {
  background: rgba($color: #000000, $alpha: 0.2);
}

.fwB{
  font-weight: bold;
}
@for $i from 4 to 40 {
  .fontS-#{$i}{
    font-size: #{$i}px;
  }
  .marginT-#{$i}{
    margin-top: #{$i}px;
  }
  .marginB-#{$i}{
    margin-bottom: #{$i}px;
  }
  .marginL-#{$i}{
    margin-left: #{$i}px;
  }
  .marginR-#{$i}{
    margin-right: #{$i}px;
  }
}
