#mdsapp {
  .layout-container-sidebar.hideSidebar {
    width: 64px;
    .el-submenu__icon-arrow {
      display: none;
    }
    .el-submenu__title > span {
      display: none;
    }
  }
  .layout-container-sidebar.openSidebar {
    width: 210px;
  }
  .layout-container-sidebar {
    transition: width 0.3s linear;
    overflow-x: hidden;
    &-scrollbar {
      height: 100%;
      .el-scrollbar__wrap {
        overflow-x: hidden;
        height: 100%;
        .el-scrollbar__view {
          height: 100%;
          .el-menu {
            height: 100%;
          }
        }
      }
    }
    .el-menu {
      border-right: none;
      .el-menu-item,
      .el-submenu__title {
        .iconfont {
          color: $menuText;
          font-size: 20px;
          margin-right: 20px;
        }
      }
      .el-menu-item.is-active i {
        color: inherit;
      }
    }
    .el-menu.el-menu--inline{
      .el-submenu__title {
        font-size: 14px;
      }
    }
  }
}
