//模仿编辑框
.showInputStyle {
  cursor: text;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #cad6df;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: block;
  font-size: inherit;
  height: 32px;
  line-height: 30px;
  outline: none;
  font-size: 14px;
  padding: 0 15px;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
