button[disabled] {
  color: #ccc;
  cursor: not-allowed;
}
.button-icon {
  color: $MC4;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba($color: #f4f4f4, $alpha: 0);
  border: none;
  cursor: pointer;
}
.button-icon:hover {
  background-color: lighten($color: #ffffff, $amount: 50%);
  border-radius: 4px;
}