$AC1: #00215f;
$AC2: #002f88;
$AC3: #667a9f;
$MC1: #ee8a1d;
$MC2: #fdc331;
$MC3: #75c140;
$MC4: #55c4f2;
$MC5: #f35353;
$MC6: #d1def9;
$MC7: #b0deed;
$MC8: #cad6df;
$MC9: #eaeef6;
$TC1: #00215f;
$TC2: #9aa6c0;
$TC3: #0091ff;
$boxShadow: 0px 0px 6px 0px rgba(0,0,0,0.1);


:export {
  AC1: $AC1;
  AC2: $AC2;
  AC3: $AC3;
  MC1: $MC1;
  MC2: $MC2;
  MC3: $MC3;
  MC4: $MC4;
  MC5: $MC5;
  MC6: $MC6;
  MC7: $MC7;
  MC8: $MC8;
  MC9: $MC9;
  TC1: $TC1;
  TC2: $TC2;
  TC3: $TC3;
  boxShadow: boxShadow;
}
