$tableHeaderBg: $MC8;
$borderColor: $MC8;
.el-table {
  color: $AC1;
  th.el-table__cell {
    // 表头样式
    background-color: $tableHeaderBg;
    color: $AC1;
    min-height: 30px;
    padding: 4px 0;
  }
  th.el-table__cell.end-operation {
    .cell {
      padding-left: 16px;
    }
  }

  .el-table__cell{
    padding: 4px 0;
    .cell{
      min-height: 30px;
      line-height: 30px;
    }
  }
  
  &::before {
    background-color: $borderColor;
  }
}
.el-table__fixed-right::before,
.el-table__fixed::before {
  background-color: $borderColor;
}
.el-table__body,
.el-table__empty-block {
  table-layout: inherit;
}
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-color: $borderColor;
}
.el-loading-mask {
  background-color: rgba($color: #000000, $alpha: 0.1) !important;
  .el-loading-spinner {
    .el-loading-text,
    i {
      color: #fff;
    }
    i {
      font-size: 24px;
    }
  }
}

.SortTable-background-class {
  background-color: $borderColor !important;
}
.el-table .caret-wrapper{
  height: 20px;
}
.el-table .sort-caret.ascending {
  top: -2px;
}
.el-table .sort-caret.descending {
  bottom: -1px;
}
